@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bento-card {
  @apply relative overflow-hidden transition-all duration-300;
}

.shadow-text {
  text-shadow: 0 0 15px rgba(255, 4, 32, 0.4);
}
