@import "tailwindcss";

@theme {
  --color-brand: #FF0420;
}

body {
  background-color: #050505;
  color: white;
}

.bento-card {
  @apply bg-[#111111] border-[#222222] transition-all duration-300;
}

.shadow-text {
  text-shadow: 0 0 20px rgba(255, 4, 32, 0.4);
}
